#xxx{
  background: rgb(240, 240, 240);
  display: block;
}
.icon {
  width: 1em; height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}
body{
  margin: 0px;
}

html{
}

.actions{
  position: fixed;
  top: 0;
  left: 0;
}
.actions svg{
  width: 1.8em;
  height: 1.8em;
}
.actions svg.active{
  fill: orangered;
  transform: scale(1.2);
}
